/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
@font-face {
  font-family: 'nevis';
  src: url('../fonts/nevis-webfont.eot');
  src: url('../fonts/nevis-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nevis-webfont.woff') format('woff'), url('../fonts/nevis-webfont.ttf') format('truetype'), url('../fonts/nevis-webfont.svg#nevis') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('../fonts/font-name.eot');
    	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.nevis {
  font-family: "Impact", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
.button:active,
.button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f);
}
.blue-button,
.blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  /* height: 100%; */

}
body {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  font-size: 100%;
  line-height: 1.5;
  color: #565656;
  background: black;
}
/*********************
03. LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 96%;
  margin: 0 auto;
}
#container {
  width: 970px;
  margin: 0 auto;
}
/*********************
04. LINK STYLES
*********************/
a,
a:visited {
  color: #f01d4f;
  /* on click */

  /* mobile tap color */

}
a:link,
a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

  /* removing text decoration from all headline links */

}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1.1em;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*********************
06. HEADER STYLES
*********************/
.nav-section {
  clear: both;
}
nav.left-nav {
  clear: left;
  float: left;
  margin-top: 45px;
}
nav.left-nav li {
  float: left;
  margin-right: 40px;
}
nav.left-nav li a {
  font: 23px "Impact", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
}
nav.left-nav li a:hover {
  color: #31d3d3;
}
nav.right-nav {
  float: right;
  margin-top: 45px;
}
nav.right-nav li {
  float: left;
  margin-left: 40px;
}
nav.right-nav li a {
  font: 23px "Impact", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
}
nav.right-nav li a:hover {
  color: #31d3d3;
}
.main-header {
  height: 176px;
  width: 100%;
}
.main-header a {
  text-decoration: none;
}
.main-header .inner {
  width: 970px;
  margin: auto;
  position: relative;
}
.main-header .inner a.logo {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  height: 174px;
  display: block;
  background: url('../images/living-the-dream-foundation-logo.png') no-repeat;
}
.main-header .inner .sub-contact {
  float: left;
  margin-top: 30px;
}
.main-header .inner .sub-contact > div {
  color: #8347cd;
  font: 12px Arial, sans-serif;
  margin-bottom: 5px;
}
.main-header .inner .sub-contact > div span {
  color: white;
  font: 12px Arial, sans-serif;
  margin-right: 10px;
}
.main-header .inner .sub-contact > div a {
  color: #8347cd;
  font: 12px Arial, sans-serif;
}
.main-header .inner .newsletter-signup {
  float: right;
  clear: right;
  margin-top: 30px;
}
.main-header .inner .newsletter-signup form label {
  clear: both;
  display: block;
  font: 12px Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.main-header .inner .newsletter-signup form input {
  clear: both;
  background: #585858;
  border: none;
  padding: 5px;
  color: white;
  font: 12px Arial, sans-serif;
  width: 200px;
  float: left;
}
.main-header .inner .newsletter-signup form button {
  background: #8347cd;
  color: white;
  font: 12px Arial, sans-serif;
  float: left;
  border: none;
  padding: 5px;
}
#brand-section a.logo {
  width: 260px;
  height: 260px;
  margin-top: 30px;
  float: left;
  display: block;
  background: url('../images/living-the-dream-logo.png') no-repeat;
}
#slider {
  float: right;
  width: 970px;
  height: 400px;
  margin-top: 30px;
}
#category-grid {
  padding-top: 25px;
  margin-bottom: 20px;
}
#category-grid ul {
  margin: 0;
}
#category-grid ul li {
  float: left;
  width: 475px;
  height: 218px;
  background: red;
  margin-bottom: 10px;
  position: relative;
}
#category-grid ul li:nth-child(even) {
  float: right;
}
#category-grid ul li img.active {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
#category-grid ul li div {
  position: absolute;
  bottom: -1px;
  left: 0;
  background: rgba(132, 40, 185, 0.8);
  color: white;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  z-index: 99999;
}
#category-grid ul li div p {
  display: none;
  width: 80%;
  margin: auto;
  text-align: center;
  font: 14px Arial, sans-serif;
  color: white;
  margin-top: 10px;
}
.blocks {
  background: #171617;
  float: left;
  margin-bottom: 20px;
}
.blocks h3 {
  margin-left: 20px;
  color: #8428b9;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}
.blocks h3 span {
  color: #31d3d3;
}
.vid-block {
  float: left;
  width: 477px;
  padding-bottom: 20px;
}
.vid-block #new-royalslider-2 {
  margin: auto;
}
.twitters {
  width: 475px;
  padding: 20px;
}
.twitters h3 {
  margin-left: 0;
  margin-top: 0;
}
.video-flash {
  float: right;
  width: 475px;
  padding: 20px;
}
.video-flash h3 {
  margin-left: 0;
  margin-top: 0;
}
.latest-news {
  float: right;
  width: 475px;
  padding: 20px;
  height: 475px;
}
.latest-news h3 {
  margin-left: 0;
  margin-top: 0;
}
.latest-news ul li {
  clear: both;
  width: 100%;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid #a8a7a7;
}
.latest-news ul li.first {
  padding-top: 0;
}
.latest-news ul li.last {
  padding-bottom: 0;
}
.latest-news ul li figure {
  width: 96px;
  height: 68px;
  float: left;
}
.latest-news ul li .about-news {
  float: left;
  padding-left: 15px;
  width: 299px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 12px;
}
.latest-news ul li .about-news span {
  font-weight: bold;
  font-size: 14px;
}
.latest-news ul li .about-news p {
  margin: 0;
  margin-top: 10px;
  color: #a8a7a7;
}
#main-container {
  padding: 20px 40px;
  margin-bottom: 30px;
  clear: both;
  border-top: 5px solid #31d3d3;
  background: #171617;
}
#main-container .introduction-section {
  padding-bottom: 15px;
  border-bottom: 1px solid #8347cd;
}
#main-container .introduction-section h2 {
  color: white;
  font: 23px "Impact", Helvetica, Arial, sans-serif;
}
#main-container .introduction-section p {
  font: 14px Arial, sans-serif;
  color: white;
  line-height: 18px;
}
#main-container #main .left-column h2 {
  color: #8428b9;
  font: 23px "Impact", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#main-container #main .left-column .main-content {
  color: white;
  font-family: Arial;
  font-size: 13px;
}
#main.events article {
  width: 100%;
  background: none;
  margin-bottom: 20px;
}
#main.events article:nth-child(1) {
  margin-top: 20px;
}
#main.events article figure {
  float: left;
  width: 200px;
}
#main.events article .event-content {
  float: left;
  margin-left: 15px;
  width: 350px;
}
#main.events article .event-content h3 {
  margin: 0;
}
#main.events article .event-content p {
  padding: 0;
  font-size: 12px;
}
#main.events article .event-content span.date {
  color: #8428b9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#news-section {
  margin-top: 35px;
}
article.class {
  float: left;
  width: 200px;
  margin-right: 30px;
}
article.class:nth-child(4n) {
  margin-right: 0;
}
article.class h3 {
  text-transform: uppercase;
  color: #31d3d3;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}
article.class figure img {
  width: 100%;
}
article.class .excerpt {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
article.class .excerpt p {
  margin: 0;
}
article.class a {
  color: #31d3d3;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
  text-decoration: none;
  font-weight: bold;
}
aside.post {
  max-width: 268px;
  margin-bottom: 20px;
  clear: both;
}
aside.post h3 {
  color: #31d3d3;
  text-transform: uppercase;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}
aside.post .excerpt p {
  color: white;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
aside.post a {
  float: right;
  color: #31d3d3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
aside.post figure {
  width: 100%;
}
.timeline .right-column {
  margin-top: 30px;
}
.left-column {
  width: 568px;
  float: left;
  min-height: 400px;
}
.left-column.single {
  background: none;
  width: 568px;
}
.left-column.single h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
}
.left-column.single article {
  width: 100%;
  background: none;
}
.left-column.single article p {
  color: white;
}
.left-column article {
  background: white;
  width: 259px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 46px;
  padding-bottom: 10px;
}
.left-column article#featured {
  width: 568px;
  position: relative;
  background: #8428b9;
  padding: 8px;
}
.left-column article#featured figure img {
  display: block;
  width: 100%;
}
.left-column article#featured h2 {
  background: #666666;
  position: absolute;
  top: -25px;
  left: -15px;
  color: white;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  font-size: 21px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.left-column article#featured .description-text {
  width: 552px;
  display: none;
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
}
.left-column article#featured .description-text p {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  line-height: 1.2em;
}
.left-column article.odd {
  margin-left: 46px;
}
.left-column article h2 {
  color: #8428b9;
  font: 21px "Impact", Helvetica, Arial, sans-serif;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 15px;
}
.left-column article p {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 10px;
}
.left-column article a {
  color: #8428b9;
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 10px;
  margin-top: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
.right-column {
  width: 268px;
  float: right;
}
.right-column aside.twitter {
  background: url('../images/sidebar-background.png') repeat-y;
  padding: 15px;
  padding-top: 30px;
  position: relative;
}
.right-column aside.twitter ul li {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 1.5em;
  margin-bottom: 25px;
}
.right-column aside.twitter ul li span {
  text-align: right;
  display: block;
  text-transform: uppercase;
  color: #31d3d3;
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.right-column aside.twitter h2 {
  position: absolute;
  top: -25px;
  left: -15px;
  color: white;
  background: #666666;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  font-size: 21px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.right-column aside.facebook {
  background: url('../images/sidebar-background.png') repeat-y;
  padding: 15px;
  padding-top: 30px;
  position: relative;
  margin-top: 30px;
}
.right-column aside.facebook h2 {
  position: absolute;
  top: -25px;
  left: -15px;
  color: white;
  background: #666666;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  font-size: 21px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.right-column aside.facebook p {
  color: white;
  text-transform: uppercase;
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  border-bottom: 1px solid #31d3d3;
  padding-bottom: 10px;
}
.right-column aside.facebook a {
  color: #31d3d3;
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
#our-timeline {
  margin-bottom: 30px;
}
#our-timeline .vco-storyjs {
  background: #171617;
  color: white;
}
#our-timeline .vco-storyjs .timenav-background {
  background: none;
}
#our-timeline .vco-storyjs .vco-navigation {
  border: none;
}
#our-timeline .vco-storyjs .timenav-interval-background {
  background: none;
}
#our-timeline .vco-storyjs .nav-text .date {
  color: #31d3d3;
}
#our-timeline .vco-storyjs .nav-next {
  color: #31d3d3;
}
#our-timeline .vco-storyjs .nav-previous {
  color: #31d3d3;
}
#our-timeline .vco-storyjs h3 {
  color: #8428b9;
  font-family: "Impact", Helvetica, Arial, sans-serif !important;
}
#our-timeline .vco-storyjs .container h2.start {
  color: #8428b9;
  font-family: "Impact", Helvetica, Arial, sans-serif !important;
}
#our-timeline .vco-storyjs .container p {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.timeline .left-column {
  width: 552px;
  float: left;
}
.timeline .left-column h2 {
  font-family: "Impact", Helvetica, Arial, sans-serif;
  color: #8428b9;
  border-bottom: 1px solid #31d3d3;
}
.timeline p {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.sub-navigation {
  background: #8428b9;
  color: white;
  clear: both;
  margin-top: 0px;
}
.sub-navigation nav ul {
  margin: 0;
  padding: 5px 10px;
}
.sub-navigation nav ul li {
  margin-right: 40px;
  float: left;
  position: relative;
  width: 15%;
}
.sub-navigation nav ul li:hover > ul {
  display: block;
}
.sub-navigation nav ul li ul {
  display: none;
  position: absolute;
  left: -5px;
  top: 30px;
  margin: 0;
  padding: 5px;
  background: #8428b9;
}
.sub-navigation nav ul li ul li {
  margin: 0;
  display: block;
  clear: both;
}
.sub-navigation nav ul li ul li a {
  font-family: Arial;
  font-size: 13px;
}
.sub-navigation nav ul li ul li a:hover {
  color: #31d3d3;
}
.sub-navigation nav ul li a {
  color: white;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
}
.align-left {
  float: left;
  margin-right: 10px;
}
#main-container.overview {
  padding: 20px 20px;
}
#main-container.overview #overview-introduction {
  height: 300px;
}
#main-container.overview #overview-introduction p {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.gallery-row {
  clear: both;
  border-bottom: 2px dashed #8428b9;
}
.gallery-row .gallery-album {
  float: left;
  width: 50%;
}
.gallery-row .gallery-album.right {
  float: right;
  width: 48%;
}
.gallery-row .gallery-album h3 {
  color: #31d3d3;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.gallery-row .gallery-video {
  float: left;
  width: 50%;
}
.gallery-row .gallery-video h3 {
  color: #8428b9;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.gallery-row .gallery-video iframe {
  border: 3px solid #ccc;
}
.gallery-row ul li {
  float: left;
  width: 75px;
  height: 75px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.contact-block h3 {
  color: #31d3d3;
  text-transform: uppercase;
  font-family: "Impact", Helvetica, Arial, sans-serif;
}
.contact-block .primary-contact {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-bottom: 1px solid #31d3d3;
  padding-bottom: 10px;
}
.contact-block .primary-contact h3 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #31d3d3;
}
.contact-block .primary-contact .address {
  float: left;
}
.contact-block .primary-contact .address span {
  display: block;
  color: #8428b9;
  text-transform: uppercase;
  font-weight: bold;
}
.contact-block .primary-contact ul {
  float: right;
  margin: 0;
  padding: 0;
}
.contact-block .primary-contact ul a,
.contact-block .primary-contact ul span {
  color: #31d3d3;
  font-weight: bold;
  text-decoration: none;
}
.contact-block .primary-contact ul a.title,
.contact-block .primary-contact ul span.title {
  color: #8428b9;
}
.contact-block aside {
  float: left;
  width: 25%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white;
}
.contact-block aside h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.contact-block aside ul {
  margin: 0;
  padding: 0;
}
.contact-block aside p {
  margin: 0;
}
.contact-block aside a,
.contact-block aside span {
  color: #8428b9;
  font-weight: bold;
  text-decoration: none;
}
.contact-block aside a.title,
.contact-block aside span.title {
  color: #8428b9;
}
/*********************
07. NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
  border: 1px solid #ccc;
  border-bottom: 0;
  /* end .menu li */

  /* highlight current page */

  /* end current highlighters */

}
.nav li {
  /*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/

}
.nav li a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  /*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/

}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 30px;
}
/* end .nav */
/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}
.bones_page_navi {
  /* current page link */

  /* end .bones_page_navi .bpn-current */

  /* common styles for page-navi links */

  /* remove the bg on end links */

  /* previous link */

  /* next page link */

  /* first page link */

  /* last page link */

}
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
.bones_page_navi li a:hover,
.bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */

}
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}
/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}
/* end .wp-prev-next */
/*********************
13. FOOTER STYLES
*********************/
.footer-section {
  clear: both;
  background: #171617;
}
.footer-section .inner {
  width: 970px;
  margin: 0 auto;
}
.footer-section .inner .block {
  float: left;
  width: 300px;
  border-right: 1px solid #636363;
}
.footer-section .inner .block.contact {
  padding-left: 25px;
  font-family: Arial;
}
.footer-section .inner .block.contact span {
  display: block;
  clear: both;
  text-transform: uppercase;
  color: #565656;
  font-size: 14px;
}
.footer-section .inner .block.contact a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  color: #c8c0c8;
  font-size: 14px;
}
.footer-section .inner .block h3 {
  font-family: "Impact", Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer-section .inner .block ul.social li {
  clear: both;
  margin-bottom: 15px;
}
.footer-section .inner .block ul.social li a {
  font-family: Arial;
  font-size: 14px;
  text-transform: uppercase;
  color: #c8c0c8;
  text-decoration: none;
  line-height: 29px;
}
.footer-section .inner .block ul.social li a span {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  background: url('../images/social-sprite.png');
}
.footer-section .inner .block ul.social li a.facebook span {
  background-position: 0 0;
  float: left;
}
.footer-section .inner .block ul.social li a.twitter span {
  background-position: 0 -45px;
  float: left;
}
.footer-section .inner .block ul.social li a.linkedin span {
  background-position: 0 -90px;
  float: left;
}
.footer-section .inner .block ul.social li a.youtube span {
  background-position: 0 -137px;
  float: left;
}
.footer-section .inner .block form input {
  width: 200px;
  background: #afadad;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  float: left;
}
.footer-section .inner .block form button {
  border: none;
  background: #8347CD;
  height: 24px;
  padding: 3px 5px;
  float: left;
  color: white;
}
.footer-section .inner .block .testimonial-content {
  font-size: 18px;
  font-weight: bold;
  font-family: "Impact", Helvetica, Arial, sans-serif;
  font-style: italic;
}
/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to 
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection. 
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.less styles.
  
  ******************************************************************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /* .menu is clearfixed inside mixins.scss */
  .menu {
    /* end .menu ul */
  
  }
  .menu ul {
    /* end .menu ul li */
  
    /* highlight current page */
  
    /* end current highlighters */
  
  }
  .menu ul li {
    /*
  				plan your menus and drop-downs wisely.
  				*/
  
  }
  .menu ul li a {
    /*
  					you can use hover styles here even though this size
  					has the possibility of being a mobile device.
  					*/
  
  }
  /* end .menu */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  
  }
  .entry-content .alignleft,
  .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright,
  .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter,
  .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  /* end .entry-content */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  /* end .footer-links */
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Grid Stylesheet
  
  I've seperated the grid so you can swap it out easily. It's
  called at the top the style.less stylesheet.
  
  There are a ton of grid solutions out there. You should definitely
  experiment with your own. Here are some recommendations:
  
  http://gridsetapp.com - Love this site. Responsive Grids made easy.
  http://gridpak.com/ - Create your own responsive grid.
  
  The grid below is a combination of the 1140 grid and Twitter Boostrap. 
  I liked 1140 but Boostrap's grid was way more detailed so I merged them 
  together, let's see how this works out. If you want to use 1140, the original 
  values are commented out on each line.
  
  ******************************************************************/
  .onecol {
    width: 5.801104972%;
  }
  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }
  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }
  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }
  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }
  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }
  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }
  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }
  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }
  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }
  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }
  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }
  /* 100%;   } /* grid_12 */
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }
  .first {
    margin-left: 0;
  }
  .last {
    float: right;
  }
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  .wrap {
    max-width: 1140px;
  }
  /*********************
  HEADER STYLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar {
    margin-top: 2.2em;
  }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  
  }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  .footer-links ul li {
    /*
  			be careful with the depth of your menus.
  			it's very rare to have multi-depth menus in
  			the footer.
  			*/
  
  }
  /* end .footer-links */
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop. 
  
  ******************************************************************/
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ******************************************************************/
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  
}
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
