/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/




/*********************
01. GENERAL STYLES
*********************/

html, body {
	/* height: 100%; */
}
body {
	font-family: @serif;
	font-size: 100%;
	line-height: 1.5;
	color: #565656;
	background:black;
}


/*********************
03. LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}
#container {
	width:970px;
	margin:0 auto;
}

/*********************
04. LINK STYLES
*********************/

a, a:visited {
	color: @link-color;

	
	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: @sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 400;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
06. HEADER STYLES
*********************/

.nav-section {
	clear:both;
}

nav.left-nav {
	clear:left;
	float:left;
	margin-top: 45px;

	li {
		float:left;
		margin-right:40px;
		a {
			font:23px @nevis;
			color:white;
			text-transform: uppercase;

			&:hover {
				color:@cyan;
			}
		}
	}
}

nav.right-nav {
	float:right;
	margin-top: 45px;
	li {
		float:left;
		margin-left:40px;
		a {
			font:23px @nevis;
			color:white;
			text-transform: uppercase;

			&:hover {
				color:@cyan;
			}
		}
	}
}

.main-header {
	height:176px;
	width:100%;

	a {
		text-decoration:none;
	}

	.inner {
		width:970px;
		margin:auto;
		position:relative;

		a.logo {
			position:absolute;
			left:50%;
			margin-left:-90px;
			width:180px;
			height:174px;
			display:block;
			background: url('../images/living-the-dream-foundation-logo.png') no-repeat;
		}

		.sub-contact {
			float:left;
			margin-top: 30px;

			& > div {
				color:#8347cd;
				font:12px Arial, sans-serif;
				margin-bottom: 5px;

				span {
					color:white;
					font:12px Arial, sans-serif;
					margin-right:10px;
				}

				a {
					color:#8347cd;
					font:12px Arial, sans-serif;
				}
			}
		}

		.newsletter-signup {
			float:right;
			clear:right;
			margin-top: 30px;
			form {
				label {
					clear:both;
					display:block;
					font:12px Arial, sans-serif;
					color:white;
					text-transform: uppercase;
					margin-bottom: 5px;
				}

				input {
					clear:both;
					background:#585858;
					border:none;
					padding:5px;
					color:white;
					font:12px Arial, sans-serif;
					width:200px;
					float:left;
				}

				button {
					background:#8347cd;
					color:white;
					font:12px Arial,sans-serif;
					float:left;
					border:none;
					padding:5px;
				}
			}
		}
	}

}

#brand-section {
	a.logo {
		width:260px;
		height:260px;
		margin-top: 30px;
		float:left;
		display:block;
		background:url('../images/living-the-dream-logo.png') no-repeat;
	}
}

#slider {
	float:right;
	width:970px;
	height:400px;
	margin-top: 30px;
}

#category-grid {
	padding-top:25px;
	margin-bottom:20px;
	ul {
		margin:0;

		li {
			float:left;
			width:475px;
			height:218px;
			background:red;
			margin-bottom: 10px;
			position:relative;

			&:nth-child(even) {
				float:right;
			}

			img.active {
				display:none;
				position:absolute;
				left:0;
				top:0;
				z-index:999;
			}

			div {
				position:absolute;
				bottom:-1px;
				left:0;
				background:fade(@purple, 80%);
				color:white;
				font-family:@nevis;
				letter-spacing:1px;
				display:block;
				width:100%;
				padding:10px; 
				text-align:center;
				font-size:20px;
				z-index:99999;

				p {
					display:none;
					width:80%;
					margin:auto;
					text-align:center;
					font:14px Arial, sans-serif;
					color:white;
					margin-top: 10px;
				}
			}
		}
	}
}

.blocks {
	background:#171617;
	float:left;
	margin-bottom: 20px;

	h3 {
		margin-left:20px;
		color:@purple;
		font-family:@nevis;
		text-transform: uppercase;
		font-size:22px;
		
		span {
			color:@cyan;
		}
	}

}

.vid-block {
	float:left;
	width:477px;
	padding-bottom:20px;

	#new-royalslider-2 {
		margin:auto;
	}
}

.twitters {
	width:475px;
	padding:20px;

	h3 {
		margin-left:0;
		margin-top: 0;
	}
}

.video-flash {
	float:right;
	width:475px;
	padding:20px;

	h3 {
		margin-left:0;
		margin-top:0;

	}
}

.latest-news {
	float:right;
	width:475px;
	padding:20px;
	height:475px;

	h3 {
		margin-left:0;
		margin-top:0;
	}

	ul {

		li {
			clear:both;
			width:100%;
			padding-bottom:12px;
			padding-top:12px;
			border-bottom:1px solid #a8a7a7;

			&.first {
				padding-top:0;
			}

			&.last {
				padding-bottom:0;
			}

			figure {
				width:96px;
				height:68px;
				float:left;
			}

			.about-news {
				float:left;
				padding-left:15px;
				width:299px;
				font-family:@sans-serif;
				color:white;
				font-size:12px;

				span {
					font-weight:bold;
					font-size:14px;
				}

				p {
					margin:0;
					margin-top:10px;
					color:#a8a7a7;
				}
			}
		}
	}
}


#main-container {
	padding:20px 40px;
	margin-bottom:30px;
	clear:both;
	border-top:5px solid @cyan;
	background:#171617;

	.introduction-section {
		padding-bottom:15px;
		border-bottom:1px solid #8347cd;

		h2 {
			color:white;
			font:23px @nevis;
		}

		p {
			font:14px Arial, sans-serif;
			color:white;
			line-height:18px;
		}
	}

	#main {
		.left-column {
			h2 {
				color:@purple;
				font:23px @nevis;
				text-transform: uppercase;
			}

			.main-content {
				color:white;
				font-family:Arial;
				font-size:13px;
			}
		}
	}
}

#main.events {
	article {
		width:100%;
		background:none;
		margin-bottom:20px;

		&:nth-child(1) {
			margin-top:20px;
		}

		figure {
			float:left;
			width:200px;
		}

		.event-content {
			float:left;
			margin-left:15px;
			width:350px;

			h3 {
				margin:0;
			}

			p {
				padding:0;
				font-size:12px;
			}

			span.date {
				color:@purple;
				font-family:@sans-serif;
				font-size:12px;
			}
		}
	}
}

#news-section {
	margin-top:35px;
	
}

article.class {
	float:left;
	width:200px;
	margin-right:30px;

	&:nth-child(4n) {
		margin-right:0;
	}

	h3 {
		text-transform: uppercase;
		color:@cyan;
		font-family:@nevis;
		margin-bottom:0;
	}

	figure {
		img {
			width:100%;
		}
	}

	.excerpt {
		color:white;
		font-family:@sans-serif;
		font-size:12px;
		p {
			margin:0;
		}
	}

	a {
		color:@cyan;
		font-size:12px;
		font-family:@sans-serif;
		float:right;
		text-decoration: none;
		font-weight:bold;
	}
}

aside.post {
	max-width:268px;
	margin-bottom: 20px;
	clear:both;
	
	h3 {
		color:@cyan;
		text-transform: uppercase;
		font-family:@nevis;
		margin-bottom: 0;
	}

	.excerpt {
		p {
			color:white;
			font-size:11px;
			font-family:@sans-serif;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	a {
		float:right;
		color:@cyan;
		font-family:@sans-serif;
		font-size:12px;
		font-weight: bold;
		text-decoration: none;
	}

	figure {
		width:100%;
	}
}


.timeline {
	.right-column {
		margin-top:30px;
	}
}

.left-column {
	width:568px;
		// background:red;
		float:left;
		min-height:400px;

		&.single {
			background:none;
			width:568px;

			h2 {
				font-size:28px;
				text-transform: uppercase;
				margin-top: 0;
				padding-top:0;
			}

			article {
				width:100%;
				background:none;

				p {
					color:white;
				}
			}
		}

		article {
			background:white;
			width:259px;
			display:inline-block;
			vertical-align: top;
			margin-bottom: 46px;
			padding-bottom: 10px;

			&#featured {
				width:568px;
				position:relative;
				background:@purple;
				padding:8px;

				figure {
					img {
						display:block;
						width:100%;
					}
				}

				h2 {
					background:@headgrey;
					position:absolute;
					top:-25px;
					left:-15px;
					color:white;
					font-family:@nevis;
					font-size:21px;
					padding:5px 10px;
					text-transform: uppercase;
				}

				.description-text {
					width:552px;
					display:none;
					position:absolute;
					bottom:8px;
					left:8px;
					background:rgba(255,255,255,0.6);
					padding:5px;
					p {
						font:13px @sans-serif;
						margin-top:0;
						line-height:1.2em;
					}
				}
			}

			&.odd {
				margin-left:46px;
			}

			h2 {
				color:@purple;
				font:21px @nevis;
				padding-left:10px;
				padding-top:10px;
				margin-bottom: 15px;
			}

			p {
				font:13px @sans-serif;
				padding:0 10px;
			}

			a {
				color:@purple;
				font:13px @sans-serif;
				padding-left:10px;
				margin-top:15px;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}

	.right-column {
		width:268px;
		float:right;
		aside {
			&.twitter {
				background:url('../images/sidebar-background.png') repeat-y;
				padding:15px;
				padding-top:30px;
				position:relative;
				ul {
					li {
						font:11px @sans-serif;
						color:white;
						text-transform: uppercase;
						line-height:1.5em;
						margin-bottom:25px;

						span {
							text-align:right;
							display:block;
							text-transform: uppercase;
							color:@cyan;
							font:11px @sans-serif;
						}
					}
				}

				h2 {
					position:absolute;
					top:-25px;
					left:-15px;
					color:white;
					background: @headgrey;
					font-family:@nevis;
					font-size:21px;
					padding:5px 10px;
					text-transform: uppercase;
				}
			}

			&.facebook {
				background:url('../images/sidebar-background.png') repeat-y;
				padding:15px;
				padding-top:30px;
				position:relative;
				margin-top: 30px;

				h2 {
					position:absolute;
					top:-25px;
					left:-15px;
					color:white;
					background: @headgrey;
					font-family:@nevis;
					font-size:21px;
					padding:5px 10px;
					text-transform: uppercase;
				}

				p {
					color:white;
					text-transform: uppercase;
					font:11px @sans-serif;
					line-height:1.5em;
					border-bottom:1px solid @cyan;
					padding-bottom:10px;
				}

				a {
					color:@cyan;
					font:11px @sans-serif;
					text-transform:uppercase;
					text-decoration:none;
				}
			}
		}
	}

	#our-timeline {
		margin-bottom:30px;
		.vco-storyjs {
			background:#171617;
			color:white;

			.timenav-background {
				background:none;
			}

			.vco-navigation {
				border:none;
			}

			.timenav-interval-background {
				background:none;
			}

			.nav-text .date{
				color:@cyan;
			}

			.nav-next {
				color:@cyan;
			}

			.nav-previous {
				color:@cyan;
			}

			h3 {
				color:@purple;
				font-family:@nevis!important;
			}

			.container {
				h2.start {
					color:@purple;
					font-family:@nevis!important;
				}
				p {
					color:white;
					font-family:@sans-serif!important;
				}
			}
		}
	}

	.timeline {

		.left-column {
			width:552px;
			float:left;
			h2 {
				font-family:@nevis;
				color:@purple;
				border-bottom:1px solid @cyan;
			}
		}

		p {
			color:white;
			font-family:@sans-serif;
			font-size:13px;
		}
	}

	.sub-navigation {
		background:@purple;
		color:white;
		clear:both;
		margin-top: 0px;

		nav {
			ul {
				margin:0;
				padding:5px 10px;
				li {
					margin-right:40px;
					float:left;
					position:relative;
					width:15%;

					&:hover {
						&>ul {
							display:block;
						}
					}

					ul {
						display:none;
						position:absolute;
						left:-5px;
						top:30px;
						margin:0;
						padding:5px;
						background:@purple;

						li {
							margin:0;
							display:block;
							clear:both;

							a {
								font-family:Arial;
								font-size:13px;

								&:hover {
									color:@cyan;
								}
							}
						}
					}
					a {
						color:white;
						font-family:@nevis;
						font-size:22px;
						text-decoration:none;
						text-transform: uppercase;
					}
				}
			}
		}
	}


	.align-left {
		float:left;
		margin-right:10px;
	}

	#main-container.overview {
		padding:20px 20px;

		#overview-introduction {
			height:300px;
			p {
				color:white;
				font-family:@sans-serif;
				font-size:13px;
			}
		}
	}

	.gallery-row {
		clear:both;
		border-bottom:2px dashed @purple;

		.gallery-album {
			float:left;
			width:50%;

			&.right {
				float:right;
				width:48%;
			}

			h3 {
				color:@cyan;
				font-family:@nevis;
				font-size:23px;
				text-transform: uppercase;
				margin-bottom: 0;
			}
		}

		.gallery-video {
			float:left;
			width:50%;

			h3 {
				color:@purple;
				font-family:@nevis;
				font-size:23px;
				text-transform: uppercase;
				margin-bottom:15px;
			}

			iframe {
				border:3px solid #ccc;
			}

		}

		ul {
			li {
				float:left;
				width:75px;
				height:75px;
				margin-left:5px;
				margin-right:5px;
				margin-bottom: 10px;
			}
		}
	}

	.contact-block {
		h3 {
			color:@cyan;
			text-transform: uppercase;
			font-family:@nevis;
		}

		.primary-contact {
			color:white;
			font-family:@sans-serif;
			font-size:12px;
			border-bottom:1px solid @cyan;
			padding-bottom: 10px;

			h3 {
				font-size:20px;
				margin-bottom: 10px;
				border-bottom:1px solid @cyan;
			}

			.address {
				float:left;
				span {
					display:block;
					color:@purple;
					text-transform: uppercase;
					font-weight: bold;
				}
			}

			ul {
				float:right;
				margin:0;
				padding: 0;

				a, span{
					color:@cyan;
					font-weight:bold;
					text-decoration: none;

					&.title {
						color:@purple;
					}
				}
			}
		}

		aside {
			float:left;
			width:25%;
			font-family:@sans-serif;
			font-size:12px;
			color:white;

			h3 {
				font-size:20px;
				margin-bottom: 5px;
			}

			ul {
				margin:0;
				padding:0;
			}

			p {
				margin:0;
			}

			a, span{
				color:@purple;
				font-weight:bold;
				text-decoration: none;

				&.title {
					color:@purple;
				}
			}
		}
	}
/*********************
07. NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border: 1px solid #ccc;
	border-bottom: 0;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			background-color: #eee;
			border-bottom: 1px solid #ccc;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

		} /* end .menu li */

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {

			a {}

			}  /* end current highlighters */

			} /* end .nav */




/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
.bones_page_navi {

	li {
		float: left;
		margin-left: 10px;

		a {
			padding: 3px 6px;
			display: block;
			text-decoration: none;
			position: relative;

			&:hover,
			&:focus {
				color: #f01d4f;
				text-decoration: underline;
			}
		}

	}

	/* current page link */
	li.bpn-current {
		padding: 3px 6px;
		border-bottom: 2px solid #f01d4f;
		position: relative;

		a {
			/* hovering on current page link */
			&:hover,
			&:focus {}

		}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		} /* end .bones_page_navi */

		/* fallback previous & next links */
		.wp-prev-next {

			ul {}

			.prev-link {
				float: left;
			}

			.next-link {
				float: right;
			}

			} /* end .wp-prev-next */


/*********************
13. FOOTER STYLES
*********************/

.footer-section {
	clear: both;
	background:#171617;

	.inner {
		width:970px;
		margin: 0 auto;

		.block {
			float:left;
			width:300px;
			border-right:1px solid #636363;

			&.contact {
				padding-left:25px;
				font-family:Arial;

				span {
					display:block;
					clear:both;
					text-transform: uppercase;
					color:#565656;
					font-size:14px;
				}

				a {
					text-decoration:none;
					display:block;
					margin-bottom:10px;
					color:#c8c0c8;
					font-size:14px;
				}
			}

			h3 {
				font-family:@nevis;
				font-size:22px;
				margin:0;
				margin-bottom: 10px;
				text-transform: uppercase;
			}

			ul.social {
				li {
					clear:both;
					margin-bottom: 15px;

					a {
						font-family:Arial;
						font-size:14px;
						text-transform: uppercase;
						color:#c8c0c8;
						text-decoration:none;
						line-height:29px;
						span {
							display:block;
							width:32px;
							height:32px;
							margin-right: 20px;
							background:url('../images/social-sprite.png');
						}

						&.facebook {
							span {
								background-position:0 0;
								float:left;
							}
						}

						&.twitter {
							span {
								background-position:0 -45px;
								float:left;
							}
						}

						&.linkedin {
							span {
								background-position:0 -90px;
								float:left;
							}
						}

						&.youtube {
							span {
								background-position:0 -137px;
								float:left;
							}
						}
					}
				}
			}

			form {
				input {
					width:200px;
					background:#afadad;
					padding:5px 10px;
					font-size:12px;
					border:none;
					float:left;
				}

				button {
					border:none;
					background:#8347CD;
					height:24px;
					padding:3px 5px;
					float:left;
					color:white;
				}
			}

			.testimonial-content {
				font-size:18px; 
				font-weight:bold;
				font-family:@nevis;
				font-style:italic;
			}
		}
	}

}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

		} /* end .footer-links */


		.copyright {}

